<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login & Signup Form | CodingNepal</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="wrapper">
    <div class="title-text">
        <div class="title signup">Edit Form</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form action="/user/edit" method="post" class="signup" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="name" placeholder="Name" required th:value="${user.name}">
                </div>
                <div class="field">
                    <input type="text" name="surname" placeholder="Surname" th:value="${user.surname}">
                </div>
                <div class="field">
                    <input type="email" name="email" placeholder="Email Address" required th:value="${user.email}">
                </div>
                <div class="field">
                    <input type="text" name="phone" placeholder="Phone Number" th:value="${user.phone}">
                </div>
                <div class="field">
                    <select name="gender" required>
                        <option value="MALE" th:selected="${user.gender == 'MALE'}">Male</option>
                        <option value="FEMALE" th:selected="${user.gender == 'FEMALE'}">Female</option>
                    </select>
                </div>
                <th:block th:if="${user.photo}">
                    <img th:src="@{/getImage(imageName=${user.photo})}" alt="User Photo" class="img-fluid my-5"/>
                </th:block>
                <div class="field">
                    <input type="file" name="image">
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="edit">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (() => {
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (() => {
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (() => {
        signupBtn.click();
        return false;
    });
</script>
</body>
</html>